<suite name="Just Dice Sanity Test Suite - UI Flows" >
    <test name="Setmore Automation Local Execution">

        <classes>
            <class name="BaseClass.Hooks"/>
            <class name="TestSuite.LoginTests.LoginTests"/>
            <class name="TestSuite.ProfileTests.ProfileTests"/>
        </classes>
    </test>
</suite>